<mat-list>
  <img src="https://static.giantbomb.com/uploads/scale_small/0/1992/3075723-screen%20shot%202019-01-16%20at%2010.21.01%20pm.png"
    style = "width: 75%; height: 75%; border-radius: 8px; margin: auto; display: block "
  >

  <div style= "text-align: center; line-height: 0.2;">
    <p>Sahil Sinha</p>
    <p>Student</p>
  </div>

</mat-list>

<mat-nav-list>
  <mat-list-item>Experience</mat-list-item>
  <mat-list-item>Skill</mat-list-item>
  <mat-list-item>Education</mat-list-item>
  <mat-list-item>Projects</mat-list-item>
  <mat-list-item>Achievements</mat-list-item>
  <mat-list-item>Personal Profile</mat-list-item>
</mat-nav-list>

<mat-list>
  
  <mat-list-item style ="bottom: 0; position: absolute">
    
      <button mat-icon-button> 
        <mat-icon> 
        <img src ="../../../assets/icons/brand_linkedin.png" 
        style = "width: 100%; height: 100%;"> 
        </mat-icon> 
      </button>

      <button mat-icon-button> 
          <mat-icon> 
          <img src ="../../../assets/icons/brand_github.png" 
          style = "width: 100%; height: 100%;"> 
          </mat-icon> 
      </button>

      <button mat-icon-button> 
          <mat-icon> 
          <img src ="../../../assets/icons/brand_hackerrank.svg" 
          style = "width: 100%; height: 100%;"> 
          </mat-icon> 
      </button>

      <button mat-icon-button> 
          <mat-icon> 
          <img src ="../../../assets/icons/brand_facebook.png" 
          style = "width: 100%; height: 100%;"> 
          </mat-icon> 
      </button>

  </mat-list-item>
</mat-list>